.globe-bg {
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: screen;
}

@media screen and (min-width: 1200px) {
  .globe-bg {
    background: url("../assets/landingpage/fadedglobe.svg");
    background-color: #1DB559;
      background-size: 150%;
      background-repeat: no-repeat;
      background-position: 0% 120%;
      border-radius: .5rem;
      border-top: 4px solid #1DB559;
    }
  }

  .active {
    background-color: #1DB559;
    color: black;
  }