.featured__item {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	inset: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	place-content: center;
	z-index: 50;
	overflow-y: scroll;
	animation: popIn 500ms ease-in-out 0s;
	animation-direction: alternate;
	transition: all ease-in-out 0.2s;
	transform-origin: left;
}

.featured-img {
	width: auto;
	min-width: 50%;
	max-width: 80%;
	height: auto;
	max-height: 70vh;
	margin: auto;
	cursor: auto;
	object-fit: contain;
	object-position: center;
	background-color: transparent;
	position: relative;
	top: 6rem;
	transition: all ease-in-out 0.2s;
}

/* ==================== ANIMATIONS ================ */
@keyframes popIn {
	0% {
		transform: scale(0);
	}

	/* 50% {
		transform: scale(0.3);
	} */

	100% {
		transform: scale(1);
	}
}
