.globeContainer {
  background: url("../assets//landingpage/fadedglobe.svg");
  height: 20rem;
}

.layerImg {
  /* background: url("../../assets/new-landing/problem-solving.svg") lightgray 50% /
    cover no-repeat;
  width: 20px;
  height: 20px; */
  /* background: #22b04c;
  mix-blend-mode: lighten; */
  width: 50px;
  height: 50px;
}

/* .animatedBg {
  animation: bounce 6s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.1); 
  }
} */

.vertical-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  margin: auto;
}

.vertical-slider {
  width: 200px; /* Match the container height */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  -webkit-appearance: none; /* Remove default appearance */
  appearance: none;
  outline: none;
  margin-bottom: 20px; /* Space for value display */
}
.vertical-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

.vertical-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

.slider-value {
  margin-top: 20px;
  font-size: 16px;
}
