{% extends 'base.html' %}
{% load static %}

{% block header %}
	<link rel="stylesheet" href="{%static 'css/version2/add-project.css'%}" /> 
    <script src="{%static 'components/navbar/navbar.js'%}" defer></script> 
{% endblock header %}


{% block title %}
	Add Project
{% endblock title %}
	

{% block content %}
	{% include "components/alert.html" %}
	<nav>
		<nav-bar></nav-bar>
	</nav>
	<section class="container">
		<nav class="tab">
			<a href="{%url 'projects'%}" role="heading" class="tab__item active"
			>projects</a
			>
			<a href="{%url 'problems'%}" role="heading" class="tab__item">problems</a>
		</nav>
		
		<main class="main">
			<form class="form" method="post" >
				<small class="notice danger">
					<sup>*</sup>All fields are required</small
					>
					<section
					class="form__section project-desc"
					aria-describedby="project-description"
					>
					<h3 class="form__section--heading" id="project-description">
						Project Description
					</h3>
					<label class="form__input--wrapper">
						<span class="form__input--label">project title</span>
						<input
						type="text"
						required
						minlength="5"
						maxlength="100"
						autocomplete="on"
						placeholder="Creation of drainage at eti osa  local government area of lagos."
						name="title"
						class="form__input"
						/>
					</label>
					<label class="form__input--wrapper">
						<span class="form__input--label">project description</span>
						<textarea
						name="description"
						minlength="10"
						required
						placeholder="Sed congue in tempor enim lacinia sit. Gravida vestibulum tellus egestas massa rhoncus neque ornare quisque urna. Pellentesque feugiat imperdiet sollicitudin pulvinar tempus. Leo eget ipsum ac nibh amet. Pulvinar sem maecenas turpis nisl odio sit consectetur."
						class="form__input textarea"
						></textarea>
					</label>
					<label class="form__input--wrapper">
						<span class="form__input--label">location</span>
						<input
						type="text"
						required
						minlength="5"
						maxlength="80"
						placeholder="2118 Thornridge Cir. Syracuse, Connecticut 35624"
						autocomplete="address-level4"
						name="location"
						class="form__input"
						/>
					</label>
				</section>
				
				<section
				class="form__section project-cat card"
				aria-describedby="project-category"
				>
				<h3 class="form__section--heading" id="project-category">
					eco category
				</h3>
				<div class="form__input--wrapper radio-group" role="radiogroup">
					<label class="radio__item">
						<input
						type="radio"
						name="eco-cat"
						value="environment"
						class="radio"
						id="environment"
						/>
						<span class="radio__label">environment</span>
						<span class="radio__circle" aria-hidden="true"></span>
					</label>
					<label class="radio__item">
						<input
						type="radio"
						name="eco-cat"
						checked
						value="community"
						class="radio"
						id="community"
						/>
						<span class="radio__label">community</span>
						<span class="radio__circle" aria-hidden="true"></span>
					</label>
					<label class="radio__item">
						<input
						type="radio"
						name="eco-cat"
						value="organization"
						class="radio"
						id="organization"
						/>
						<span class="radio__label">organization</span>
						<span class="radio__circle" aria-hidden="true"></span>
					</label>
				</div>
				<label class="form__input--wrapper">
					<span class="form__input--label">UNSDG Goals</span>
					
					<div class="goal-select__wrapper">
						<img
						src="{%static 'assets/icons/unsdg-goals.png'%}"
						alt=""
						aria-hidden="true"
						class="icon"
						/>
						<select
						name="goal"
						id="goal-select"
						class="goal-select form__input"
						required
						>
						<option value="">Select UNSDG goal</option>
					</select>
				</div>
			</label>
		</section>
		
		<section
		class="form__section project-req card"
		aria-describedby="project-requirement"
		>
		<h3 class="form__section--heading" id="project-requirement">
			task requirements
		</h3>
		<label class="form__input--wrapper">
			<span class="form__input--label">No. of people required</span>
			{% comment %} Neon, this should be a number input {% endcomment %}
			{% comment %} No need for the min value {% endcomment %}
			<input
			type="number"
			name="people"
			value="7"
			pattern="/^\d*$/"
			required
			class="form__input"
			/>
		</label>
		<label class="form__input--wrapper">
			<span class="form__input--label">Required Skills</span>
			<div class="skills__wrapper">
				<template
				><div class="skill">
					<p class="skill__txt">artificial intelligence</p>
					<img
					src="{%static 'assets/icons/mdi_close-circle.png'%}"
					alt="remove"
					role="button"
					class="icon skill__cancel"
					/></div
					></template>
					<input
					type="text"
					autocomplete="on"
					placeholder="Enter to add multiple skills"
					class="skills__input"
					/>
				</div>
			</label>
			<div class="form__input--wrapper duration-container">
				<label class="form__input--wrapper">
					<span class="form__input--label">Task start date</span>
					<input
					type="date"
					name="date"
					required
					class="form__input calendar-input"
					/>
				</label>
				<label class="form__input--wrapper">
					<span class="form__input--label">Duration of task</span>
					<input
					type="text"
					name="duration"
					value="4 weeks"
					required
					class="form__input"
					/>
				</label>
			</div>
		</section>
		
		<section
		class="form__section project-pay card"
		aria-describedby="project-payment"
		>
		<h3 class="form__section--heading" id="project-payment">payment</h3>
		<label class="form__input--wrapper">
			<span class="form__input--label">Payment Type</span>
			<select
			name="payment-type"
			id="payment-type"
			required
			class="form__input"
			>
			<option value="Fixed">Fixed Payment</option>
			<option value="Volunteering">Volunteering</option>
			<option value="Bidding">Bidding</option>
		</select>
	</label>
	<label class="form__input--wrapper">
		<span class="form__input--label">Amount per person</span>
		<input type="text" name="amount_per_person" required value="N2500" class="form__input" />
	</label>
	</section>
	<button class="primary-btn submit-btn" type="submit">echo project</button>
	</form>
	</main>
	</section>
	<footer class="footer">
		<p class="copyright">&copy; 2023 Eco Africa. All rights reserved</p>
	</footer>

	<script type="module" src="{%static 'js/app.js'%}"></script>
	<script src="{%static 'js/add-project.js'%}" type="module"></script>

{% endblock content %}

