{%load static%}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ECO -landing page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel='stylesheet' href="{%static 'css/version2/landing-page.css'%}">
  <link rel="stylesheet" href="{%static '/css/main.css'%}">
  <!-- for nunito -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geo&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <nav-bar class="d-flex "></nav-bar>
  </nav>
  <section class="hero-container justify-content-between align-items-center" id="top">
      <div class="hero-text w-45 d-flex justify-content-center align-items-center flex-column">
        <div class="hero-text-wrap">
          <h2><b>ECHO problems and projects in your local ECO</b></h2>
          <button class="echo-btn"><a href="{%url 'problems'%}" style="color:white">ECHO</a></button>
        
        </div>

      </div>
      <div class="hero-carousel w-45">
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleRide" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleRide" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-item-container">
                <div class="carousel-header d-flex justify-content-between  align-items-center">
                  <div class="user-img">
                    <img src="{%static '/assets/icons/avatar.png'%}" class="img-fluid">
                  </div>
                  <div class="goals ">
                    <p>Goal</p>
                    <p><b>Sapa</b></p>
                  </div>
                  <div class="location ">
                    <p><img src="{%static 'assets\icons\pindrop.png'%}" alt="location">Ikeja, Lagos</p>
                    <p>Environment</p>
                  </div>
                </div>
                <hr>
                <div class="carousel-text">
                  <p class="mb-1">Despite efforts to increase agricultural productivity, a lack of infrastructure and resources, combined with the effects of climate change, have led to chronic food shortages and malnourishment.</p>
                </div>
                <div class="carousel-imgs d-flex justify-content-between">
                  <img src="{%static 'assets\images\carousel-img1.png'%}" alt="" class="carousel-img-1 carousel-img">
                  <div class="small-img d-flex flex-column justify-content-between carousel-img">
                    <img src="{%static 'assets\images\carousel-img2.png'%}" alt="" class="carousel-img-child">
                    <img src="{%static 'assets/images/carousel-img3.png'%}" alt="" class="carousel-img-child">
                  </div>
                </div>
              </div>


              <div class="actions d-flex justify-content-between">
                <button><img  class="action-btn img-fluid" src="{%static 'assets\images\upvote.png'%}" alt=""></button>
                <button><img  class="action-btn img-fluid" src="{%static 'assets\images\downvote.png'%}" alt=""></button>
                <button><img  class="action-btn img-fluid" src="{%static 'assets\images\ideas.png'%}" alt=""></button>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-item-container">
                <div class="carousel-header d-flex justify-content-between  align-items-center">
                  <div class="user-img">
                    <img src="{%static '/assets/icons/avatar.png'%}" class="img-fluid">
                  </div>
                  <div class="goals ">
                    <p>Goal</p>
                    <p><b>Hunger</b></p>
                  </div>
                  <div class="location ">
                    <p><img src="{%static 'assets\icons\pindrop.png'%}" alt="location">Ikeja, Lagos</p>
                    <p>Environment</p>
                  </div>
                </div>
                <hr>
                <div class="carousel-text">
                  <p class="mb-1">Despite efforts to increase agricultural productivity, a lack of infrastructure and resources, combined with the effects of climate change, have led to chronic food shortages and malnourishment.</p>
                </div>
                <div class="carousel-imgs d-flex justify-content-between">
                  <img src="{%static 'assets\images\carousel-img1.png'%}" alt="" class="carousel-img-1 carousel-img">
                  <div class="small-img d-flex flex-column justify-content-between carousel-img">
                    <img src="{%static 'assets\images\carousel-img2.png'%}" alt="" class="carousel-img-child">
                    <img src="{%static 'assets/images/carousel-img3.png'%}" alt="" class="carousel-img-child">
                  </div>
                </div>
              </div>


              <div class="actions d-flex justify-content-between">
                <button><img  class="action-btn img-fluid" src="{%static 'assets\images\upvote.png'%}" alt=""></button>
                <button><img  class="action-btn img-fluid" src="{%static 'assets\images\downvote.png'%}" alt=""></button>
                <button><img  class="action-btn img-fluid" src="{%static 'assets\images\ideas.png'%}" alt=""></button>
              </div>
            </div>


          </div>

        </div>
        <img src="{%static 'assets\images\carousel-bg-img.png'%}" alt="" class="bg-image">


      </div>
    </section>


  <section id="welcome-to-the-eco-container" class="container ">

    <div class=" welcome-to-the-eco">
      <h1 class="  ">Welcome to THE <a>ECO</a></h1>
    </div>
    <div class="text-center ECO-text">
      <small>The ECO is an abbreviation meaning</small><br>
      <b class="ECO-meaning"> ENVIRONMENT, COMMUNITY & ORGANIZATION</b>
      <div class="center-contain">
        <img class="center" src="{%static 'assets\icons\line.svg'%}" alt="line-icon">
      </div>
    </div>

    <div class="row justify-content-center">

      <div class="col-9   Enviroment-container ">
        <br><br>
        <img src="{% static 'assets\icons\enviroment.svg' %}" alt="enviroment-icon">
        <br><br>
        <P class='h3 '>Enviroment</P>
        <p class="Enviroment-bg">Data on the natural environment (such as air and water quality, land use patterns,
          and biodiversity) can provide important information on the sustainability of an economy and the potential
          impacts of economic activities on the environment.
          EcHo problem and projects related to this in your community </p>

      </div>

      <div class="col-9 Community-container">
        <br><br>
        <img src="{%static 'assets\icons\community.svg'%}" alt="community-icon"><br><br>
        <P class=' h3'>Community</P>
        <p class="Community-bg"> Data on the social and demographic characteristics of a country's population (such as
          age, education levels, and income) can help policymakers understand the needs and
          challenges facing different segments of the population and how these may be changing over time.EcHo problem
          and projects related to this in your community .</p>

      </div>

      <div class="col-9 Organization-container">
        <br><br>
        <img src="{%static 'assets\icons\organization.svg'%}" alt="organization-icon"><br><br>
        <P class=' h3'>Organization</P>
        <p class="Organization-bg"> Data on the structures and functions of different organizations (such as
          businesses, government agencies, and civil society groups) can provide insights into the efficiency and
          effectiveness of these organizations and how they contribute
          to the overall economy. EcHo problem and projects related to this in your community
      </div>

    </div>
  </section>

  <section id="coming-soon__app-container " class="coming-soon__app">
<div class="academicons-contain">
    <img class="academicons" src="{%static '/assets/images/academicons_africarxiv.png'%}">
</div>
    <article class="img-description">
      <div class="img-group">
        <img class="img-size" src="{%static '/assets/images/mockup-screen-1.png'%}" alt="" />
        <div class="img-abs-position">
          <img class="img-size" src="{%static '/assets/images/mockup-screen-2.png'%}" alt="" />
          <img class="img-size" src="{%static '/assets/images/mockup-screen-3.png'%}" alt="" />
        </div>
      </div>
    </article>

    <article class="img-description__2">
      <div class="img-group">
        <img src="{%static '/assets/images/mockup-screen-1.png'%}" alt="" />
        <img src="{%static '/assets/images/mockup-screen-2.png'%}" alt="" />
        <img src="{%static '/assets/images/mockup-screen-3.png'%}" alt="" />
      </div>
    </article>

    <article class="text-description">
      <h2>PALs Apps</h2>
      <h3>Coming Soon!</h3>
      <p>
        Engage with problems & Project as
        <b>Partners, Ambassadors & Leaders</b>
        for sustainability
      </p> <br class="spacing"><br class="spacing">
      <div class="btn-group">
        <div><button class="download-cta">
            <img class="cta-adj2" src="{%static 'assets\icons\googleplay.svg'%}" alt="googleplay-image">
          </button></div>
        <div><button class="download-cta">
            <img class="cta-adj1" src="{%static 'assets\icons\appstore.svg'%}" alt="appstore-image">
          </button></div>
      </div>
      <div class="join-pals-btn-container"><button class="join-pals-btn">Join the PALs network</button></div>

    </article>
  </section>
  <br class="spacing"><br class="spacing">
  <div class="faq">
    <section>
      <div class="faq-container">
        <div class="faq-contain ">
        <div class="shadow-lg p-3 mb-5  rounded faq-box ">
          <h2 >Frequently asked questions(FAQs) </h2>
          <div class="img-container">
           <div class="img-c"> <img class="position1" src="{%static '/assets/images/Group.png'%}">
            <img class="position" src="{%static '/assets/images/Group.png'%}">
            <img class="position1" src="{%static '/assets/images/Group.png'%}">
          </div>
        </div>
        </div>
      </div>
      </div>
    </section>
    <div class="accordion" id="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header " id="question1"> </h2>
        <div class="line-contain"> <button class="accordion-button"  style="background-color: white;color:white;" type="button"
            data-bs-toggle="collapse" data-bs-target="#question1" aria-expanded="false" aria-controls="question1">
            <p style="color: #263238;">What is Eco Tech all about?</p>
            <hr style="color: #979797;"  class="line">
          </button></div>
        <div id="question1" class="accordion-collapse collapse transition" aria-labelledby="accordion"
          data-bs-parent="#questions">
          <div class="accordion-body L">
            <p>
              Our platform connects individuals and organizations in Africa to drive sustainability, innovation, and
              technology through the iPALs portal and PALs app. ECO stands for Environment, community, and organization
            </p>
          </div>
        </div>

      </div>
    </div><br>
    <div class="accordion" id="accordion2">
      <div class="accordion-item">
        <h2 class="accordion-header " id="question2"> </h2>
        <div class="line-contain"> <button class="accordion-button"  style="background-color: white;color:white;" type="button"
            data-bs-toggle="collapse" data-bs-target="#question2" aria-expanded="false" aria-controls="question2">
            <p style="color: #263238;">Can I submit my own projects or ideas to the platform?</p>
            <hr style="color: #979797;"  class="line">
          </button></div>
        <div id="question2" class="accordion-collapse collapse transition" aria-labelledby="accordion"
          data-bs-parent="#questions">
          <div class="accordion-body">
            <p>
              Yes! You can submit your own project if you have a leader profile on the ECO platform. Ideas are submitted on Problems therefore if you want to share an idea - you would have to share the problem and idea on it. If you do share idea on other problems on the platform then the idea is recorded as yours on your profile. 
            </p>
          </div>
        </div>
       </div>
    </div>
    <br>
    <div class="accordion" id="accordion3">
      <div class="accordion-item">
        <h2 class="accordion-header " id="question3"> </h2>
        <div class="line-contain"> <button class="accordion-button"  style="background-color: white;color:white;" type="button"
            data-bs-toggle="collapse" data-bs-target="#question3" aria-expanded="false" aria-controls="question1">
            <p style="color: #263238;">Are there any specific requirements for submitting projects or problems?</p>
            <hr style="color: #979797;"  class="line">
          </button></div>
        <div id="question3" class="accordion-collapse collapse transition" aria-labelledby="accordion"
          data-bs-parent="#questions">
          <div class="accordion-body">
            <ul class="accordion-ul">
              <li>Your project or problem must be Environmental, community or organization focused on a place, people, product or service. </li>
            <li>Your project or problem has to be related to one of the United Nation Sustainability Goals. </li>
            <li>Projects must have skills attached to it, required number of people and a timeline to complete.</li>
            <li> Only Leaders can post projects </li>
            <li>Ambassadors can post problems and ideas and can work on projects</li>
            </ul>
          </div>
        </div>
       </div>
    </div>
    <br>
    <div class="accordion" id="accordion4">
      <div class="accordion-item">
        <h2 class="accordion-header " id="question4"> </h2>
        <div class="line-contain"> <button class="accordion-button"  style="background-color: white;color:white;" type="button"
            data-bs-toggle="collapse" data-bs-target="#question4" aria-expanded="false" aria-controls="question1">
            <p style="color: #263238;">What resources or tools does Eco Tech  provide for youth interested in the tech industry?</p>
            <hr style="color: #979797;"  class="line">
          </button></div>
        <div id="question4" class="accordion-collapse collapse transition" aria-labelledby="accordion"
          data-bs-parent="#questions">
          <div class="accordion-body">
            <ul class="accordion-ul">
              <li><B>Job and Internship Opportunities:</B>  ECO connects youth with job and internship opportunities in the tech industry. Partnering with tech companies, startups, and organizations, the platform helps youth access employment and internship openings that align with their interests and skills.</li>
            <li><B>Tech Leadership Training:</B> The ECO platform provides tech leadership training programs designed to equip youth with the necessary skills, knowledge, and mindset to excel in the tech industry. These programs cover topics such as coding, software development, data analytics, cybersecurity, and digital innovation.</li>
            <li><B>Project Collaboration:</B>The ECO platform encourages youth to collaborate on tech projects, providing a space where they can form teams, share ideas, and work on innovative solutions. This collaborative environment fosters creativity, teamwork, and practical experience in executing tech projects.</li>
            <li><B>Funding and Investment Support:</B> ECO facilitates access to funding and investment opportunities for youth-led tech ventures. Through partnerships with impact investors and venture capital firms, the platform helps connect young entrepreneurs with the financial resources needed to bring their tech ideas to life.</li>
            <li>Youths can report problems they face to engage other youth in tech to help and support.</li>
            <li>They can find projects to collaborate and create. </li>
            <li>ECO platform offers youths through the platform the opportunity to grow in tech companies and eventually become investors in other tech companies </li>
            <li>Youths can find where their skills are most needed in Africa for free border employment in other african countries.</li>
          </ul>
          </div>
        </div>
       </div>
    </div>
    <br>
    <div class="accordion" id="accordion5">
      <div class="accordion-item">
        <h2 class="accordion-header " id="question5"> </h2>
        <div class="line-contain"> <button class="accordion-button"  style="background-color: white;color:white;" type="button"
            data-bs-toggle="collapse" data-bs-target="#question5" aria-expanded="false" aria-controls="question1">
            <p style="color: #263238;">How can I contact the team behind Eco Tech for further inquiries or support?</p>
            <hr style="color: #979797;"  class="line">
          </button></div>
        <div id="question5" class="accordion-collapse collapse transition" aria-labelledby="accordion"
          data-bs-parent="#questions">
          <div class="accordion-body">
            <p>
              You can reach us through our email on <a href="#">ask@fortheECO.com</a>
            </p>
          </div>
        </div>
       </div>
    </div>
    <br>
    <div class="accordion" id="accordion6">
      <div class="accordion-item">
        <h2 class="accordion-header " id="question6"> </h2>
        <div class="line-contain"> <button class="accordion-button"  style="background-color: white;color:white;" type="button"
            data-bs-toggle="collapse" data-bs-target="#question6" aria-expanded="false" aria-controls="question1">
            <p style="color: #263238;">Why PALs?</p>
            <hr style="color: #979797;"  class="line">
          </button></div>
        <div id="question6" class="accordion-collapse collapse transition" aria-labelledby="accordion"
          data-bs-parent="#questions">
          <div class="accordion-body">
            <ul class="accordion-ul">
              <li>PALs stands for Partners, Ambassadors, and Leaders for Sustainability</li>
            <li>PALs play a crucial role in driving sustainability and innovation within the ECO platform. They are key contributors and active participants in the ecosystem, working together to address environmental, social, and economic challenges in Africa. </li>
            <li>PALs are at the heart of the ECO platform, serving as catalysts for collaboration, knowledge-sharing, and sustainable projects. They bring their expertise, resources, and passion for sustainability and innovation to create meaningful impact in their local communities and beyond.</li>
            <li> PALs act as change agents and champions for sustainability. They contribute their skills, knowledge, and resources to develop innovative solutions, promote sustainable practices, and drive positive environmental and social impact. </li>
            </ul>
          </div>
        </div>
       </div>
    </div>
  </div>

  </section>
  </div>
  </div>

  </section>
  </div><br class="spacing">
  <footer>
    <section id="main-subscribe-container" class="subscribe-container">
      <div class="another-subscribe-container shadow-lg">
        <h2 class="subscribe-title">Subscribe to get News and Updates </h2><h2 class="subscribe-title2">Get News and Updates </h2>
        <div class=" subscribe-text-container">
          <p class="subscribe-text">Want to know about what we are up to, news about Africa and updates with our app?
            Sign up to our newsletter!</p>
        </div>
        <form action="post" id="subscribe-form">
          <div class="mb-3 input-container">
            <input type="email" class="input-border" name="email" id="subscribe-form-input"
              placeholder="Email Address" required>
            <button type="submit" class="frame-78-btn"><img class="frame-78" src="{%static '/assets/icons/Frame 78.png'%}"></button>
          </div>
        </form>
    </section>
    <br class="spacing"><br class="spacing"><br class="spacing"><br class="spacing">
    <section class="end">
      <div class="end-contain">
        <ul class="end-ul">
          <li class="end-li">ECO</li>
          <li class="end-li">PALs</li>
          <li class="end-li">iPALs</li>
          <li class="end-li">Innovation</li>
          <li class="end-li"><button class="create-account-btn"><a href="{%url 'reg'%}" style="color:white">create account</a></button> </li>
        </ul>
      </div>
      <div class="create-accountbtn1-container">
        <button class="create-account-btn"><a href="{%url 'reg'%}" style="color:white">create account</a></button>
      </div>

      <div>
        <a href="#top" class="arrow-icon"><img src="{%static 'assets\icons\arrow.svg'%}"
            alt="arrow-icon"></a>
        <ul class="end-ul2">
          <li class="end-li-2"><img src="{%static 'assets\icons\facebook.svg'%}" alt="facebook-icon">
          </li>
          <li class="end-li-2"><img src="{%static 'assets\icons\twitter.svg'%}" alt="twitter-icon">
          </li>
          <li class="end-li-2"><img src="{%static 'assets\icons\linkedin.svg'%}" alt="linkedin-icon">
          </li>
        </ul>
        <P class="rights-reserved"><small>© 2023 Eco Africa. All rights reserved.</small></P>
      </div>

    </section>



  </footer>


  </div>
  <script>
    // Set a JavaScript variable with the authenticated status
    var is_authenticated = {{ user.is_authenticated|lower }};
    var user = {
      profile_image: "{{ user.user_profile.profile_image.url }}" || null,
      full_name: "{{ user.user_profile.full_name }}" || null
    };
  </script>

  <script type="module" src="{%static 'js/app.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous">
  </script>
</body>
