{%load static%}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Innovation</title>
		<link rel="stylesheet" href="{% static 'css/version2/innovation.css' %}" />
		<script src="{% static 'components/navbar/navbar.js' %}" defer></script>
	</head>
	<body id="innovation">
		<nav>
			<nav-bar></nav-bar>
		</nav>
		<main>
			<!-- hero section -->
			<section class="hero">
				<div class="hero__txt">
					<h1 class="hero__txt--heading">Innovation AI <br />Map</h1>
					<p class="hero__txt--info">
						Are you a developer, and like to join a community of developers
						building the future of Africa?
					</p>
					<button class="primary-btn">join our developer circle</button>
				</div>
			</section>
			<!-- coming soon section -->
			<article class="upcoming">
				<h2 class="secondary-heading">
					INNOVATIONS COMING OUT OF AFRICA #ForAfrica
				</h2>
				<div class="upcoming-nav__wrapper">
					<nav class="upcoming-nav">
						<h6 class="upcoming-nav__link active-nav" role="link">All</h6>
						<h6 class="upcoming-nav__link" role="link">FinTech</h6>
						<h6 class="upcoming-nav__link" role="link">HealthTech</h6>
						<h6 class="upcoming-nav__link" role="link">EduTech</h6>
						<h6 class="upcoming-nav__link" role="link">AgroTech</h6>
						<h6 class="upcoming-nav__link innovation" role="link">
							Innovation<span>&nbsp;</span>AI
						</h6>
					</nav>
				</div>
				<section class="upcoming__cards--wrapper fluid-grid">
					<div class="upcoming__card">
						<img
							src="assets/images/Frame 405.png"
							alt="coming soon"
							class="upcoming__card--img"
						/>
						<h4 class="upcoming__card--txt">Coming Soon</h4>
					</div>
					<div class="upcoming__card">
						<img
							src="assets/images/Frame 406.png"
							alt="coming soon"
							class="upcoming__card--img"
						/>
						<h4 class="upcoming__card--txt">Coming Soon</h4>
					</div>
					<div class="upcoming__card">
						<img
							src="assets/images/Frame 408.png"
							alt="coming soon"
							class="upcoming__card--img"
						/>
						<h4 class="upcoming__card--txt">Coming Soon</h4>
					</div>
					<div class="upcoming__card">
						<img
							src="assets/images/Frame 407.png"
							alt="coming soon"
							class="upcoming__card--img"
						/>
						<h4 class="upcoming__card--txt">Coming Soon</h4>
					</div>
				</section>
			</article>
			<!-- ECO Africa -->
			<article class="eco">
				<h2 class="secondary-heading">Build innovation and strategy</h2>
				<p class="paragraph eco-info">
					We have trusted PALs with great experience and professional skills
					that can help you work on your ideas and help you bring them into
					reality.
				</p>
				<!-- ECO cards -->
				<section class="eco__cards-wrapper fluid-grid">
					<!-- Media -->
					<div class="eco__card">
						<img
							src="assets/icons/material-symbols_play-circle-rounded.png"
							alt="Media"
							class="icon eco-icon"
						/>
						<h5 class="card-heading">Media</h5>
						<p class="paragraph card-txt">
							ECO is your one-stop shop for all your media needs. We specialize
							with our community in creating high-quality video and audio
							content that will help you connect with your audience and achieve
							your business goals.
						</p>
					</div>
					<!-- Data -->
					<div class="eco__card">
						<img
							src="assets/icons/fluent_design-ideas-24-filled.png"
							alt="Data"
							class="icon eco-icon"
						/>
						<h5 class="card-heading">Data</h5>
						<p class="paragraph card-txt">
							ECO is a leading provider of data management and analytics
							solutions, helping businesses and government of all sizes to turn
							data into actionable insights for growth and improvement.
						</p>
					</div>
					<!-- Design -->
					<div class="eco__card">
						<img
							src="assets/icons/fluent_data-usage-24-filled.png"
							alt="Design"
							class="icon eco-icon"
						/>
						<h5 class="card-heading">Design</h5>
						<p class="paragraph card-txt">
							ECO provides professional design services to enhance online
							presence. Services include website design, logo creation, brochure
							design, and other marketing materials to create a visual identity
							that represents the brand and appeals to the target audience.
						</p>
					</div>
					<!-- Digital -->
					<div class="eco__card">
						<img
							src="assets/icons/iconoir_internet.png"
							alt="Digital"
							class="icon eco-icon"
						/>
						<h5 class="card-heading">Digital</h5>
						<p class="paragraph card-txt">
							We offer a wide range of services to help businesses succeed,
							including website design, SEO, online marketing, social media
							management, and branding. Our goal is to provide custom solutions
							tailored to specific business needs and goals.
						</p>
					</div>
				</section>
				<button class="primary-btn">Contact Us</button>
				<div class="socials">
					<a href="#"
						><img
							src="assets/icons/facebook.png"
							alt="Facebook"
							title="Facebook"
							class="icon social-icon"
					/></a>
					<a href="#"
						><img
							src="assets/icons/twitter-alt.png"
							alt="Twitter"
							title="Twitter"
							class="icon social-icon"
					/></a>
					<a href="#"
						><img
							src="assets/icons/linkedin.png"
							alt="LinkedIn"
							title="LinkedIn"
							class="icon social-icon"
					/></a>
				</div>
			</article>
			<!-- PALs  -->
			<section class="pals">
				<p class="paragraph">
					Join our PALs network and unleash your tech skills on innovative
					projects. Be part of our team and shape the
				</p>
				<h6 class="pals-emphasis">future of technology.</h6>
				<button class="primary-btn">Join the PALs network</button>
			</section>
			<footer class="footer">
				<a href="#innovation" class="scroll-to-top">
					<img
						src="assets/icons/Up arrow.png"
						alt="Scroll to top"
						title="Scroll to top"
						class="icon"
					/>
				</a>
				<section class="footer__content">
					<ul class="footer__nav">
						<li class="footer__nav--item"><a href="#">ECO</a></li>
						<li class="footer__nav--item"><a href="#">PALS</a></li>
						<li class="footer__nav--item"><a href="#">iPALS</a></li>
						<li class="footer__nav--item"><a href="#">Innovation</a></li>
					</ul>
					<a href="#"><button class="primary-btn">Create Account</button></a>
				</section>
				<section class="footer__socials">
					<a
						href="https://linkedin.com"
						target="_blank"
						class="footer__socials--item"
						><img
							src="assets/icons/facebook-white.svg"
							alt="follow us on facebook"
							class="icon"
					/></a>
					<a
						href="https://twitter.com"
						target="_blank"
						class="footer__socials--item"
						><img
							src="assets/icons/twitter-white.svg"
							alt="follow us on Twitter"
							class="icon"
					/></a>
					<a
						href="https://linkedin.com"
						target="_blank"
						class="footer__socials--item"
						><img
							src="assets/icons/linkedin-white.png"
							alt="follow us on linkedin"
							class="icon"
					/></a>
				</section>
				<p class="paragraph copyright">
					&copy; 2023 Eco Africa. All rights reserved.
				</p>
			</footer>

			<script type="module" src="{% static 'js/app.js' %}"></script>
		</main>
	</body>
</html>
