{% extends 'base.html' %}


{% block header %}
<title>ECO - Pals Network</title>
{% comment %} url wrong call{% endcomment %}
<link rel="stylesheet" type="text/css" href="C:\Users\DELL\Desktop\Fortheeco-version2\css\version2\pals.css">  
<link rel="stylesheet" type="text/css" href="C:\Users\DELL\Desktop\Fortheeco-version2\css\main.css">
{% endblock header %}

{% block content %}
        <div class="container">
            <h3 class="title">PALs Network</h3>
            <div class="data-container">
            <div class="Leader" data-name="L-1">
                <section class="wrapper--hero" class="info-section">
                    <img src="assets/icons/4.png" class="img-fluid" alt="Leader1">
                    <div class="content">
                    <h4>Harriss halt</h4> 
                    <p>Leader</p> </div>   </section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia fuga laborum voluptatibus
                     porro illo dolore, quod, facilis dolorem optio
                      architecto eaque minima magnam quaerat,
                     numquam voluptates autem. Voluptates, ullam iure!  <br>
                    <h5> #DataEnthusiast #Analyticninja</h5> <br>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button></p>     
            </div>
            <div class="Leader" data-name="L-2">
                <section class="wrapper--hero" class="info-section">
                    <img src="assets/icons/4.png" class="img-fluid" alt="Leader1">
                    <div class="content">
                        <h4>Harriss halt</h4> 
                        <p>Leader</p> </div></section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia fuga laborum voluptatibus
                     porro illo dolore, quod, facilis dolorem optio
                      architecto eaque minima magnam quaerat,
                     numquam voluptates autem. Voluptates, ullam iure! <br>
                     <h5>#DataEnthusiast #Analyticninja</h5> <br> 
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button>
                         </p>     
            </div>
            <div class="Leader" data-name="L-3">
                <section class="wrapper--hero" class="info-section">
                    <img src="assets/icons/4.png" class="img-fluid" alt="Leader1">
                    <div class="content">
                        <h4>Harriss halt</h4> 
                        <p>Leader</p> </div></section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia fuga laborum voluptatibus
                     porro illo dolore, quod, facilis dolorem optio
                      architecto eaque minima magnam quaerat,
                     numquam voluptates autem. Voluptates, ullam iure! 
                     <br>
                     <h5>#DataEnthusiast #Analyticninja </h5><br>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button></p>     
            </div>
            <div class="Leader" data-name="L-4">
                <section class="wrapper--hero" class="info-section">  
                    <img src="assets/icons/4.png" class="img-fluid" alt="Leader1">
                    <div class="content">
                        <h4>Harriss halt</h4> 
                        <p>Leader</p> </div></section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia fuga laborum voluptatibus
                     porro illo dolore, quod, facilis dolorem optio
                      architecto eaque minima magnam quaerat,
                     numquam voluptates autem. Voluptates, ullam iure! 
                     <br>
                     <h5>#DataEnthusiast #Analyticninja </h5><br>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button></p>      
            </div>
            <div class="Leader" data-name="L-5">
                <section class="wrapper--hero" class="info-section">
                    <img src="assets/icons/4.png" class="img-fluid" alt="Leader1">
                    <div class="content">
                        <h4>Harriss halt</h4> 
                        <p>Leader</p> </div></section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia fuga laborum voluptatibus
                     porro illo dolore, quod, facilis dolorem optio
                      architecto eaque minima magnam quaerat,
                     numquam voluptates autem. Voluptates, ullam iure!
                     <br>
                     <h5>#DataEnthusiast #Analyticninja</h5><br> 
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button> </p>       
            </div>
            <div class="Leader" data-name="L-6">
                <section class="wrapper--hero" class="info-section"> 
                <img src="assets/icons/4.png" class="img-fluid" alt="Leader1">

                <div class="content">
                    <h4>Harriss halt</h4> 
                    <p>Leader</p> </div></section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia fuga laborum voluptatibus
                     porro illo dolore, quod, facilis dolorem optio
                      architecto eaque minima magnam quaerat,
                     numquam voluptates autem. Voluptates, ullam iure!
                     <br>
                     <h5>#DataEnthusiast #Analyticninja </h5><br> 
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button> </p>        
            </div>
            <div class="Leader" data-name="L-6">
                <section class="wrapper--hero" class="info-section"> 
                <img src="assets/icons/4.png" class="img-fluid" alt="Leader1">
                <div class="content">
                    <h4>Harriss halt</h4> 
                    <p>Leader</p> </div></section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia fuga laborum voluptatibus
                     porro illo dolore, quod, facilis dolorem optio
                      architecto eaque minima magnam quaerat,
                     numquam voluptates autem. Voluptates, ullam iure!
                     <br>
                     <h5>#DataEnthusiast #Analyticninja</h5><br> 
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button> </p>        
            </div>
            <div class="Leader" data-name="L-6">
                <section class="wrapper--hero" class="info-section">  
                <img src="assets/icons/4.png" class="img-fluid" alt="Leader1">
                <div class="content">
                    <h4>Harriss halt</h4> 
                    <p>Leader</p> </div></section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia fuga laborum voluptatibus
                     porro illo dolore, quod, facilis dolorem optio
                      architecto eaque minima magnam quaerat,
                     numquam voluptates autem. Voluptates, ullam iure!
                     <br>
                     <h5>#DataEnthusiast #Analyticninja</h5><br> 
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button> </p>          
            </div>
            <div class="Leader" data-name="L-6">
                <section class="wrapper--hero" class="info-section">      
                <img src="assets/icons/4.png" class="img-fluid" alt="Leader1">
                <div class="content">
                    <h4>Harriss halt</h4> 
                    <p>Leader</p> </div></section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia fuga laborum voluptatibus
                     porro illo dolore, quod, facilis dolorem optio
                      architecto eaque minima magnam quaerat,
                     numquam voluptates autem. Voluptates, ullam iure! 
                     <br>
                    <h5> #DataEnthusiast #Analyticninja </h5><br> 
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button></p>           
            </div>
            <div class="Leader" data-name="L-6">
                <section class="wrapper--hero" class="info-section">         
                <img src="assets/icons/4.png" class="img-fluid" alt="Leader1">
                <div class="content">
                    <h4>Harriss halt</h4> 
                    <p>Leader</p> </div></section>           
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia fuga laborum voluptatibus
                     porro illo dolore, quod, facilis dolorem optio
                      architecto eaque minima magnam quaerat,
                     numquam voluptates autem. Voluptates, ullam iure! 
                     <br>
                     <h5>#DataEnthusiast #Analyticninja </h5><br> 
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button></p>                    
            </div>
            <div class="Leader" data-name="L-6">
                <section class="wrapper--hero" class="info-section"> 
                <img src="assets/icons/4.png" class="img-fluid" alt="Leader1">
                <div class="content">
                    <h4>Harriss halt</h4> 
                    <p>Leader</p> </div></section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia fuga laborum voluptatibus
                     porro illo dolore, quod, facilis dolorem optio
                      architecto eaque minima magnam quaerat,
                     numquam voluptates autem. Voluptates, ullam iure! 
                     <br>
                     <h5>#DataEnthusiast #Analyticninja </h5><br> 
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button></p>    
            </div>
            <div class="Leader" data-name="L-6">
                <section class="wrapper--hero" class="info-section">       
                <img src="assets/icons/4.png" class="img-fluid" alt="Leader1">

                <div class="content">
                    <h4>Harriss halt</h4> 
                    <p>Leader</p> </div>
                </section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Mollitia fuga laborum voluptatibus
                     porro illo dolore, quod, facilis dolorem optio
                      architecto eaque minima magnam quaerat,
                     numquam voluptates autem. Voluptates, ullam iure! <br>
                     <h5>#DataEnthusiast #Analyticninja </h5   ><br> 
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button>
                     <button class="button" >Data Science </button></p>
                     
            </div>
        </div>
        </div>
{% endblock content %}