<!DOCTYPE html>
{%load static%}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ECO Projects</title>
		<link rel="stylesheet" href="{%static 'css/version2/projects-page.css'%}" />
		<link rel="stylesheet" href="{%static 'css/version2/project-details.css'%}" />
		<script src="{%static 'components/navbar/navbar.js'%}" defer></script>
	</head>
	<body>
		<nav>
			<nav-bar></nav-bar>
		</nav>
		{% include "components/alert.html" %}
		<section class="container">
			<nav class="tab">
				<a href="{%url 'projects'%}" role="heading" class="tab__item active"
					>projects</a
				>
				<a href="{%url 'problems'%}" role="heading" class="tab__item">problems</a>
			</nav>
			<aside class="top-bar display-on-desktop">
				<form class="form">
					<img
						src="{%static 'assets/icons/search.png'%}"
						alt="search projects"
						class="form__search toggle-form"
						title="Search projects"
					/>
					<label class="form__label hidden">
						<span class="form__close" title="hide form">x</span>
						<input
							type="search"
							placeholder="search..."
							name="search"
							class="form__input"
						/>
					</label>
				</form>
				<button type="button" class="primary-btn">
					<a href="add-project.html">add project</a>
				</button>
			</aside>
			<main class="main">
				<section class="project-details__wrapper sidebar">
                   {% for project in projects %}
					<article class="card project__card">
						<!-- card -->
						<p class="project-title">{{project.title}}</p>
						<div class="card-header">
							<!-- sponsor -->
							<h6 class="card-header__item card-sponsor">
								<span>{{project.user.user_profile.full_name}}</span>
								<span class="username">Bangman Groups</span>
							</h6>
							<!-- ECO Category -->
							<h6 class="card-header__item">
								Eco Category: <span class="eco-category">{{project.category}}</span>
							</h6>
							<!-- location -->
							<p class="card-header__item project-location">
								<img
									src="assets/icons/material-symbols_location-on.png"
									alt=""
									aria-hidden="true"
									class="icon location-icon"
								/>
								{{project.location}}
							</p>
						</div>

						<!-- card text -->
						<p class="card__txt">
						{{project.description}}
						</p>
					</article>
				   {% endfor %}

				</section>
				<article class="main-content">
					<small class="project-origin on-mobile"
						><img
							src="{%static 'assets/icons/refresh-circle.svg'%}"
							alt="refresh"
							class="icon"
						/><span
							>adopted from <span class="username"></span>temi jake</span
						></small
					>

					<h4 class="project-name">
						{{project.title}}
						<span class="eco-category">- {{project.category}}</span>
					</h4>

					<header class="project-header">
						<!-- sponsor -->
						<div class="project-header__item project-sponsor">
							<img
								src="{%static 'assets/icons/project-sponsor.png'%}"
								alt="project sponsor avatar"
								class="icon"
							/>
							<p class="sponsor__name">{{project.user.user_profile.full_name}}</p>
						</div>
						<!-- location -->
						<p class="project-header__item project-location">
							<img
								src="{%static 'assets/icons/material-symbols_location-on.png'%}"
								alt=""
								aria-hidden="true"
								class="icon location-icon"
							/>
							{{project.location}}
						</p>
						<!-- project origin -->
						<small class="project-header__item project-origin on-desktop"
							><img
								src="{%static 'assets/icons/refresh-circle.svg'%}"
								alt="refresh"
								class="icon"
							/><span
								>adopted from <span class="username"></span>temi jake</span
							></small
						>

						<img
							src="{%static 'assets/icons/share.svg'%}"
							alt="share project"
							title="Share this project"
							class="icon share-icon"
						/>
					</header>
					<section class="project-info">
						<div class="category-wrapper">
							<h6 class="project-category">clean water and sanitation</h6>
							<div class="category-tags">
								<span>Category:</span>
								{% for skill in project.required_skills.all  %}
                                     <button class="tertiary-btn">{{skill.name}}</button>
								{% endfor %}
							</div>
						</div>
						<p class="card__txt">
							{{project.description}}
						</p>
					</section>
					<section class="details-footer">
						<div class="project-details">
							<h6 class="details__item">
								<span class="details__item--heading">tasks</span>
								<span class="details__item--value">5</span>
							</h6>
							<h6 class="details__item">
								<span class="details__item--heading">duration of task</span>
								<span class="details__item--value">{{project.duration}}</span>
							</h6>
							<h6 class="details__item">
								<span class="details__item--heading">start date</span>
								<span class="details__item--value"
									>{{project.start_date}}</span
								>
							</h6>
							<h6 class="details__item">
								<span class="details__item--heading"
									>No. of need participant</span
								>
								<span class="details__item--value">{{project.no_of_people}}</span>
							</h6>
							<h6 class="details__item">
								<span class="details__item--heading">Reward</span>
								<span class="details__item--value">{{project.amount}}</span>
							</h6>
						</div>
						<div class="requirements__wrapper">
							<h4 class="requirements__heading">tasks requirements</h4>
							<ul class="requirements">
								<li class="requirement__item">closeness to area</li>
								<li class="requirement__item">
									Availability: 3-5 working hours every working day
								</li>
								<li class="requirement__item">internet-enabled smartphone</li>
								<li class="requirement__item">any other requirements</li>
							</ul>
						</div>
					</section>
					<div class="project-action-buttons">
						<button class="primary-btn">apply to project</button>
						<button class="secondary-btn">connect with sponsor</button>
					</div>
				</article>
			</main>
		</section>
		<footer class="footer">
			<p class="copyright">&copy; 2023 Eco Africa. All rights reserved</p>
		</footer>

		<script type="module" src="{%static 'js/app.js'%}"></script>
		<script src="{%static 'js/projects-page.js'%}"></script>

		<script>
			// SHARE PROJECT
			const ShareIcon = document.querySelector('.share-icon')

			ShareIcon.addEventListener('click', (e) => {
				// use the project name as link title
				// use `trim` to remove any unnecessary whitespaces, line-breaks, etc.
				const ProjectTitle = document
					.querySelector('.project-name')
					.textContent.trim()

				shareProject(ProjectTitle)
			})

			async function shareProject(title) {
				// TODO the text property should be more descriptive and formal
				const shareData = {
					title,
					text: 'Check out this amazing project on ECO',
					url: window.location.href,
				}

				try {
					await navigator.share(shareData)
				} catch (err) {
					// notify the user if the browser doesn't support native share
					if (navigator.canShare == false) alert('not supported')
					console.log(err)
				}
			}
		</script>
	</body>
</html>
