{% extends 'base.html' %}
{%load static%}


{% block header %}
		<title>ECO Projects</title>
		<link rel="stylesheet" href="{% static 'css/version2/projects-page.css' %}" />
		<script src="{% static 'components/navbar/navbar.js' %}" defer></script>
{% endblock header %}

{% block content %}
	{% include "components/alert.html" %}
		<nav>
			<nav-bar></nav-bar>
		</nav>
		<section class="container">
			<nav class="tab">
				<a href="{%url 'projects'%}" role="heading" class="tab__item active"
					>projects</a
				>
				<a href="{%url 'problems'%}" role="heading" class="tab__item">problems</a>
			</nav>
			<aside class="top-bar">
				<form class="form">
					<img
						src="{% static 'assets/icons/search.png' %}"
						alt="search projects"
						class="form__search toggle-form"
						title="Search projects"
					/>
					<label class="form__label hidden">
						<span class="form__close" title="hide form">x</span>
						<input
							type="search"
							placeholder="search..."
							name="search"
							class="form__input"
						/>
					</label>
				</form>
				<button type="button" class="primary-btn">
					<a href="{%url 'add-projects'%}">echo project</a>
				</button>
			</aside>
			<main class="main">
				<section class="projects__wrapper">
                  {% for project in projects %}
                    					<a href="{%url 'project-details' pk=project.id %}" class="card project__card">
						<!-- card -->
						<div class="card-header">
							<!-- sponsor -->
							<h6 class="card-header__item card-sponsor">
								<span>sponsor</span>
								<span class="username">{{project.user.user_profile.full_name}}</span>
							</h6>
							<!-- ECO Category -->
							<h6 class="card-header__item display-on-desktop">
								Eco Category: <span class="eco-category">{{project.category}}</span>
							</h6>
							<!-- location -->
							<p class="card-header__item project-location">
								<img
									src="{% static 'assets/icons/material-symbols_location-on.png' %}"
									alt=""
									aria-hidden="true"
									class="icon location-icon"
								/>
								{{project.location}}
							</p>
						</div>
						<!-- ECO Category -->
						<h6 class="card-header__item display-on-mobile">
							Eco Category: <span class="eco-category">{{project.category}}</span>
						</h6>
						<!-- card text -->
						<p class="card__txt">
						{{project.description}}
						</p>
					</a>

				  {% endfor %}

				</section>
				<aside class="sidebar"></aside>
			</main>
		</section>
		<footer class="footer">
			<p class="copyright">&copy; 2023 Eco Africa. All rights reserved</p>
		</footer>

		<script type="module" src="{% static 'js/app.js' %}"></script>
		<script src="{% static 'js/projects-page.js' %}"></script>
{% endblock content %}
