{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Skills</title>
        <link rel="stylesheet" href="{%static 'css/version2/update-skills.css'%}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {%include 'components/alert.html'%}
	<nav>
        <nav-bar></nav-bar>
    </nav>
                  <div class='container'>
                     <h1>Edit Skills</h1>
                     <p>Hi, {{request.user.user_profile.full_name}} add and remove skillsets here</p>
                     {% comment %} current skills {% endcomment %}
                     <div class='current-container'>
                      <h4>Your Current skills</h4>
                         <div class='skills'>
                        {% for skill in user_skills  %}
                        <p class='skill-item'>{{skill}} <a href="{%url 'delete-skill'%}?skill={{skill}}" style='color:green;'><i class="fa-solid fa-xmark remove-skill"></i></a></p>
                        {% endfor %}
                         </div>
                         {% comment %} Add new skills form {% endcomment %}
                       <fieldset>
                        <h4>Add new skills</>
                         <div class='input-holder'>
                        <input type="text" placeholder='Add skill here' required>
                        <button class='add'><i class="fa-solid fa-plus add-skill"></i></button>
                         </div>
                         <div class='new-skills'></div>
                         <button class='update'>Update Skills</button>
                      <button class="profile-btn">
							        <a href="{%url 'profile'%}" style='color:green;'>Back to Profile</a> </button>
                        </fieldset>
                     </div>

                  </div>
                    {% comment %} CDNs {% endcomment %}
                     <script type="module" src="{%static '/js/app.js'%}"></script>
    <script src="{%static '/js/edit-skills.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>
