/*  ============= PROFILE EDIT STYLING =================== */

a {
	text-decoration: none;
	color: inherit;
}

.error {
	color: white;
	background-color: rgb(236, 4, 4);
}

.success {
	background-color: var(--primary-green);
	color: white;
}

.profile-info,
.main-card,
.sidebar {
	background-color: var(--highlight-green);
	border-top: 5px solid var(--primary-green);
	border-radius: 1rem;
}

.profile-info {
	width: 23%;
	position: sticky;
	background-color: initial;
	border-top: 5px solid var(--primary-green);
	border-radius: 1rem;
}

.profile--card {
	width: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.08);
	margin-bottom: 4rem;
	border-radius: 1rem;
}

.profile__img {
	max-width: 80%;
}

.account-action {
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 2rem;
}

.change-pswd {
	font-family: var(--default-font);
}

.user__name,
.edit-profile {
	color: var(--primary-green);
}

.user__role {
	font-style: normal;
	font-size: 1.4rem;
	margin-bottom: 2rem;
}

.user-contact {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	font-size: 1.4rem;
}

.edit-profile {
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-top: 2rem;
}

.ambassador-btn span {
	width: max-content;
}

.main-card {
	width: 54%;
	box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.08);
	position: relative;
}

.profile--nav {
	font-family: var(--default-font);
	text-transform: capitalize;
	padding: 1.5rem 0;
	margin-inline: 2rem;
	border-bottom: 2px solid var(--sub-text);
}

.profile-edit--container {
	margin-left: 2rem;
	margin-top: 4rem;
}

.user-avatar--container {
	margin: 1rem auto;
	width: max-content;
	display: block;
	position: relative;
}

.user-avatar {
	position: absolute;
	display: block;
	bottom: 0.5rem;
	right: 0;
	width: 2rem;
	cursor: pointer;
}

.user-avatar--img {
	width: 12rem;
	aspect-ratio: 1;
	padding: 2rem;
	margin: 0.5rem;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.2);
}

.user-avatar--icon {
	display: inline-block;
	position: absolute;
	bottom: 1rem;
	right: 1.5rem;
}

.user-avatar--input {
	display: none;
}

label {
	padding-left: 1rem;
}

.var-input {
	background-color: var(--secondary-green);
	width: 100%;
	display: flex;
	margin-bottom: 2.5rem;
	padding: 1rem 2.5rem;
	border-radius: 0.5rem 0 0 0.5rem;
}

.var-input input {
	border: 0;
	background: transparent;
	width: 70%;
	margin-left: 0.5rem;
}

.var-input input:focus {
	outline: none;
}

.submit-btn {
	/* width: fit-content; */
	margin: 2rem auto;
	display: flex;
	justify-content: center;
}

/* sidebar */
.sidebar {
	width: 23%;
	border-top: 5px solid var(--primary-green);
	border-radius: 1rem;
	box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.08);
}

/* ================ MEDIA QUERIES ================= */
/* 920px => hide sidebar */
@media screen and (max-width: 920px) {
	.profile-info {
		width: 35%;
	}

	.main-card {
		width: 68%;
	}

	.sidebar {
		display: none;
	}
}

/* 800px  */
@media screen and (max-width: 800px) {
	.main-card {
		width: 90%;
		margin-inline: auto;
		box-shadow: none;
		background-color: initial;
		border: 0;
	}
}

/* =========== CHANGE PASSWORD PAGE ============ */
.var-input {
	position: relative;
}

.pswd-reveal--toggle {
	position: absolute;
	right: 2%;
	/* transform: translateY(-40px); */
	cursor: pointer;
	padding: 2px;
}

/* =========== MODALS/POPUPS ============ */
.popup {
	display: flex;
	align-items: center;
	gap: 2rem;
	position: fixed;
	top: 6rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 40;
	padding: 2rem 4rem;
	border-radius: 1rem;
}

/* logout modal container */
dialog {
	width: 100%;
	height: 100vh;
	display: flex;
	border: 0;
	align-items: center;
	justify-content: center;
	position: fixed;
	inset: 0;
	z-index: 50;
	background-color: rgba(0, 0, 0, 0.18);
}

/* logout modal  */
.modal {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	background-color: white;
	color: var(--sub-text);
	padding: 2rem 4rem;
	border-radius: 1rem;
	font-family: var(--inter-font);
	font-weight: 600;
}

/* logout buttons container */
.modal__btn--wrapper {
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 2rem;
}
