/* global styles config */
@import url('/css/main.css');

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	width: 100%;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.6rem;
	/* overflow-x: hidden; */
	width: 100%;
}

a,
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: inherit;
}

/* ================ VARIABLES =============== */
:root {
	--ease: all 0.2s ease-in-out;
}

/* ========= UTILITIES */
/* active category nav */
.active-nav {
	color: white;
	background-color: var(--primary-green);
	border-radius: 5px;
	border: 2px solid transparent;
}

.active-nav:hover {
	background-color: white;
	color: var(--primary-green);
	border-color: var(--primary-green);
}

/* btn */
.primary-btn {
	background-color: var(--primary-green);
	color: var(--highlight-green);
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	text-transform: capitalize;
	border: unset;
	cursor: pointer;
	transition: var(--ease);
}

.primary-btn:hover {
	background-color: var(--primary-blue);
}

.secondary-heading {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 2.4rem;
}

/* grid */
.fluid-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	gap: 6rem 3rem;
	width: 100%;
	margin-inline: auto;
}

img {
	object-fit: fill;
}

.icon {
	width: 2rem;
	aspect-ratio: 1/1;
}

/* ============ HERO SECTION ========== */
.hero {
	display: flex;
	align-items: center;
	color: white;
	width: inherit;
	padding: 4rem;
	margin-block: 4rem;
	min-height: 35rem;
	background-image: url('/assets/images/Vector_2652\ 2.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.hero__txt {
	margin-inline: 4rem auto;
	width: 20rem;
}

.hero__txt--heading {
	font-weight: 700;
}

.hero__txt--info {
	margin-block: 2rem;
	color: #ccc;
}

/* ============ COMING SOON SECTION ========== */
.upcoming,
.eco {
	margin: 10rem auto;
	text-align: center;
	width: 90%;
}

.upcoming-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-block: 2rem;
}

.upcoming-nav__link {
	font-size: 1.8rem;
	font-weight: 400;
	padding: 0.5rem 1.8rem;
	cursor: pointer;
	display: inline-block;
	transition: var(--ease);
}

.upcoming-nav__link:hover {
	color: var(--primary-green);
}

.upcoming__cards--wrapper,
.eco {
	width: 80%;
}

/* coming soon card */
.upcoming__card {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 25rem;
	width: 100%;
	object-fit: cover;
}

.upcoming__card--img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.upcoming__card--txt {
	color: var(--primary-green);
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	inset: 0;
	z-index: 5;
}

/* ============ ECO AFRICA SECTION ========== */
.eco {
	padding: 2rem 6rem;
	background-image: url('/assets/images/innovation-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.eco-info {
	width: 80%;
	margin: 2rem auto;
	line-height: 1.5;
}

.eco__cards-wrapper {
	margin-block: 4rem;
}

/* ECO card */
.eco__card {
	width: 100%;
	padding: 2rem;
	text-align: left;
	background-color: white;
	border-top: 5px solid var(--primary-green);
	border-radius: 1rem;
	position: relative;
}

.eco-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	aspect-ratio: 1/1;
	padding: 1rem;
	background-image: linear-gradient(135deg, #ffffff, #daf8e5);
	border-radius: 0.5rem;
	position: absolute;
	top: -2rem;
}

.card-heading {
	margin-block: 1rem;
	font-weight: 700;
}

/* social icons container */
.socials {
	margin-top: 1rem;
}

/* social icons */
.social-icon {
	object-fit: contain;
	display: inline-block;
	margin: 1rem;
	transition: var(--ease);
}

.social-icon:hover {
	scale: 1.2;
}

/* ============ PALs SECTION ========== */
.pals {
	color: white;
	text-align: center;
	background-image: url('/assets/images/8.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-blend-mode: darken;
	width: 100%;
	min-height: 45rem;
	margin-block: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.pals .paragraph {
	font-size: 1.8rem;
	font-weight: 400;
	width: 50%;
	margin-inline: auto;
	line-height: 1.3;
}

/* PALs capitalized text */
.pals-emphasis {
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 4rem;
}

/* ================= FOOTER =========== */
.footer {
	width: 100%;
	padding: 6rem;
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	position: relative;
	background-color: var(--dark-green);
	color: white;
}

.footer__content,
.footer__nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 2rem;
}

.footer__nav {
	list-style: none;
	color: currentColor;
}

.scroll-to-top {
	display: inline-block;
	position: absolute;
	right: 8rem;
	top: 4rem;
}

.scroll-to-top .icon {
	width: 4rem;
}

.scroll-to-top:hover {
	transform: translateY(1rem);
}

.footer__socials {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.footer__socials--item,
.scroll-to-top {
	transition: var(--ease);
}

.footer__socials--item:hover {
	scale: 1.2;
}

/* ========= MEDIA QUERIES */
@media screen and (max-width: 920px) {
	.pals {
		min-height: unset;
		padding-block: 4rem;
	}
}

@media screen and (max-width: 800px) {
	.fluid-grid {
		gap: 4rem 2rem;
	}

	.secondary-heading {
		width: 75%;
		margin: 4rem auto 0;
	}

	.hero {
		padding: 0;
		background-size: cover;
	}

	.pals {
		background-image: url('/assets/images/8-mobile.png');
	}

	/* dark backdrop */
	.pals::after {
		content: '';
		display: block;
		position: absolute;
		inset: 0;
		background-color: rgb(17, 16, 16, 0.7);
		z-index: 0;
	}
	/* move all elements above the backdrop */
	.pals > * {
		z-index: 2;
	}

	.upcoming-nav__wrapper {
		overflow-x: scroll;
		white-space: nowrap;
	}

	.upcoming-nav {
		width: fit-content;
	}

	.upcoming,
	.eco {
		margin: 4rem;
		width: unset;
	}

	.footer__content {
		flex-direction: column;
		row-gap: 1rem;
	}

	.scroll-to-top {
		top: -2rem;
		right: 2rem;
	}
}

@media screen and (max-width: 550px) {
	.fluid-grid {
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}

	.upcoming__card--txt {
		font-size: 1.6rem;
	}

	.secondary-heading {
		width: 100%;
	}

	.upcoming__cards--wrapper,
	.eco {
		width: 100%;
	}

	.eco {
		margin-inline: 0;
		padding-inline: 3rem;
		font-size: 1.4rem;
	}

	.pals {
		min-height: unset;
		padding: 4rem;
	}

	.pals .paragraph {
		width: 100%;
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 420px) {
	.fluid-grid {
		grid-template-columns: 1fr;
	}

	.eco__card {
		margin-bottom: 2rem;
	}

	.pals {
		background-size: auto;
	}

	.footer {
		padding-inline: 2rem;
	}
}
