.add-idea {
	width: 100%;
	height: 6rem;
	padding: 1rem 2rem;
	margin-bottom: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #ccc;
	border-radius: 2rem;
	font-family: var(--nunito-font);
}

.add-idea__input {
	font-size: 1.6rem;
	width: 80%;
	height: 100%;
	resize: none;
}

.submit-idea {
	display: flex;
	gap: 1rem;
	align-items: center;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: capitalize;
	cursor: pointer;
}

.submit-idea .icon {
	width: 2.5rem;
}

.add-idea__input,
.add-idea__input:focus,
.add-idea__input:active,
.submit-idea,
.submit-idea:focus,
.submit-idea:active {
	background-color: transparent;
	border: unset;
	outline: unset;
}

.idea-card {
	box-shadow: none;
	background-color: rgba(239, 246, 242, 1);
	cursor: auto;
}

.idea-card .card-header,
.idea-card .card-action-group {
	justify-content: start;
	border: unset;
}

.idea-card .card-action-group {
	margin-top: 1.5rem;
	padding: 0;
}

.idea-card .card__action--item {
	margin-right: 4rem;
}

/* ======================== MEDIA QUERIES =========================== */
@media screen and (max-width: 800px) {
	.problems__wrapper {
		position: relative;
	}

	.idea-card {
		background-color: white;
	}

	.idea-card .card-action-group {
		justify-content: end;
		border-bottom: 2px solid #ccc;
		padding-bottom: 2rem;
	}

	/* .idea-wrapper {
		display: none;
	} */

	.add-idea {
		position: fixed;
		z-index: 5;
		width: 90%;
		bottom: 0;
		left: 2rem;
		right: 2rem;
		background-color: rgba(255, 255, 255, 0.9);
	}

	.add-idea__input::placeholder {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 390px) {
	.add-idea {
		width: 90%;
		padding: 1rem;
		margin-bottom: 0;
	}

	.submit-idea {
		gap: 0.5rem;
		font-size: 1.2rem;
	}
}
