/* global styles config */
@import url('/static/css/main.css');

.icon {
	width: 2rem;
	aspect-ratio: 1/1;
	object-fit: fill;
}

.secondary-btn {
	font-size: 1.5rem;
	text-transform: capitalize;
	color: var(--primary-green);
	border: 2px solid var(--primary-green);
	background-color: transparent;
	padding: 1rem 2rem;
	margin: 0.3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: var(--ease);
}

.secondary-btn:hover,
.tertiary-btn:hover {
	filter: invert(10%);
}

.tertiary-btn {
	background-color: transparent;
	font-size: 1.6rem;
	text-transform: capitalize;
	padding: 1rem;
	color: currentColor;
	border: 2px solid var(--primary-green);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: var(--ease);
}

.project-title {
	display: block;
	width: 100%;
	text-transform: capitalize;
	font-size: 1.6rem;
	font-family: var(--default-font);
	font-weight: 600;
	border-bottom: 2px solid var(--sub-text);
	padding: 0.5rem;
}

.card-header {
	margin-top: 2rem;
}

.main {
	gap: 4rem;
}

.top-bar {
	display: flex;
}

.main-content {
	width: 100%;
	height: 60vh;
	margin-top: 2rem;
	overflow-y: scroll;
	padding: 3rem;
	border-radius: 1rem;
	position: relative;
	border: 2px solid #ccc;
	box-shadow: -1px 3px 14px -4px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: -1px 3px 14px -4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -1px 3px 14px -4px rgba(0, 0, 0, 0.25);
}

.project-name {
	margin-bottom: 2rem;
	font-size: 1.6rem;
	font-family: var(--default-font);
}

.project-header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	border-bottom: 2px solid #ccc;
}

.project-header__item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.project-sponsor .icon {
	width: 3rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	object-fit: fill;
	object-position: center;
}

/* there are two of these with same content: */
/* one for desktop, and another for mobile */
/* hide the one for mobile one on desktop view */
.project-origin.on-mobile {
	display: none;
}

.project-origin.on-desktop {
	margin-block: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.share-icon {
	width: 2.5rem;
	display: inline-block;
	/* margin-left: auto; */
	cursor: pointer;
}

.project-info {
	width: 100%;
	border-bottom: 2px solid #ccc;
	padding-bottom: 1.5rem;
}

.category-wrapper {
	display: grid;
	grid-template-columns: 15rem auto;
	align-items: start;
	justify-content: space-between;
	gap: 1rem;
	margin-block: 2rem;
}

.project-category {
	font-size: 1.6rem;
	font-family: var(--nunito-font);
	text-transform: capitalize;
}

.category-tags {
	display: flex;
	align-items: start;
	justify-content: end;
	flex-wrap: wrap;
	gap: 1rem;
}

.details-footer {
	width: 100%;
}

.project-details {
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: space-evenly;
	gap: 2rem;
	flex-wrap: wrap;
	margin-block: 2rem 1rem;
}

.details__item {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 0.5rem;
	font-family: var(--inter-font);
}

.details__item--heading {
	color: var(--primary-green);
	font-size: 1.5rem;
	text-transform: capitalize;
}

.requirements__heading {
	font-size: 2rem;
	font-family: var(--nunito-font);
	text-transform: capitalize;
	color: var(--primary-green);
	margin-block: 2rem 0.5rem;
}

.requirements {
	list-style: circle;
	line-height: 1.5;
}

.project-action-buttons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	margin-top: 3rem;
}

@media screen and (max-width: 1050px) {
	/* there are two of these with same content: */
	/* one for desktop, and another for mobile */
	/* hide the one for desktop one on mobile view */
	.project-origin.on-desktop {
		display: none;
	}

	.project-origin.on-mobile {
		margin-block: 1rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.card-header__item {
		margin: 0;
	}

	.category-wrapper {
		grid-template-columns: auto;
	}

	.category-tags {
		align-items: start;
		justify-content: start;
		gap: 0.6rem;
	}

	.tertiary-btn {
		padding-block: 0.5rem;
	}
}

@media screen and (max-width: 1050px) and (min-width: 851px) {
	.main {
		grid-template-columns: auto 60%;
		gap: 2rem;
	}
}

@media screen and (max-width: 850px) {
	.display-on-desktop {
		display: none;
	}

	.display-on-mobile {
		display: block;
	}

	.card-header {
		margin-bottom: 0.5rem;
	}

	.card__txt {
		padding-top: 2rem;
	}

	/* form/top button container */
	.top-bar {
		display: none;
	}

	.main {
		grid-template-columns: auto;
	}

	/* left projects card container */
	.sidebar {
		display: none;
	}

	.main-content {
		height: auto;
		border: unset;
		box-shadow: none;
	}

	.share-icon {
		position: absolute;
		top: 1.7rem;
		right: 1rem;
	}

	.project-action-buttons {
		margin-top: 4rem;
	}

	.footer {
		margin-top: 3rem;
	}
}

@media screen and (max-width: 520px) {
	.category-tags .tertiary-btn {
		font-size: 1.2rem;
		padding: 0.5rem;
	}

	.project-action-buttons {
		gap: 2rem;
	}

	.primary-btn,
	.secondary-btn {
		padding: 1rem;
	}

	.details__item:nth-child(2) {
		margin-inline: auto;
	}

	.details__item:last-child {
		margin-left: auto;
	}
}

@media screen and (max-width: 420px) {
	.main-content {
		padding: 0;
	}

	.share-icon {
		top: 6rem;
		width: 2rem;
	}
}
